/* Circuit Weave Pattern Background */

.pattern-bg {
    position: relative;
    background-color: var(--cloud);
}

.pattern-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(var(--digital-teal) 1px, transparent 1px), radial-gradient(var(--circuit-indigo) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    opacity: 0.05;
    pointer-events: none;
    z-index: 0;
}

.dark-pattern-bg {
    position: relative;
    background-color: var(--circuit-indigo);
    color: white;
}

.dark-pattern-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
        radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
        linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 30px 30px;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}
